# Credenciales
UsuariosContraseña.txt

# Archivos de datos generados
*.dat

# Archivos compilados de Java
*.class

# Carpetas generadas por Maven
target/

# Carpetas de compilación de NetBeans
build/
dist/
nbbuild/
nbdist/
.nb-gradle/